body{
background-color: yellow;}

.grid{
       background-color: white;
       width:600px;
       height: 500px;
       margin: 0 auto;
       padding: 10px 50px 50px 50px;
       border:3px solid blue;
      }
.grid h1{font-size: 60px;font-weight: bold;font-family: sans-serif;
         background-color: purple;color:white; }
